In [1]:
# 1. Write a code to create a string with your name and print it.
name = "Munish"
print(name)

Munish

In [1]:
#2. Write a code to find the length of the string "Hello World".
x = "Hello World"
print(len(x))

11

In [2]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
#4. write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [6]:
#5. write a code to replace the word "apple" with "orange" in the sting "I like apple".
text = "I like apple"
print(text.replace("apple","orange"))

I like orange

In [9]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
num = [1,2,3,4,5]
print(num)
# other way
num = list(range(1,6))
print(num)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [11]:
#7. Write a code to append the number 10 to the list [1,2,3,4]
num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [12]:
#8. write a code to remove the numbers 3 from the list [1,2,3,4,5].
num = [1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

In [13]:
#9. write a code to access the second element in the list ['a','b','c','d']
letters = ['a','b','c','d']
print(letters[1])

b

In [17]:
#10. Write a code to reverse the list [10,20,30,40,50]
numbers = [10,20,30,40,50]
numbers.reverse()
print(numbers)
# or
num = [10,20,30,40,50]

print(num[::-1])

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [2]:
# 11. Write a code to create a tuple with the elements 100,200,300 and print it
num = (100,200,300)
print(num)

(100, 200, 300)

In [4]:
# 12. Write a code to access the second-to-last elements of the tuple ('red','green','blue','yellow').
color = ('red','gree','blue','yellow')
print(color[1:4])

('gree', 'blue', 'yellow')

In [8]:
#13. Write a code to find the minimum number in the tuple (10,20,5,15)
num = (10,20,5,15)
print(min(num))

5

In [9]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit')
animal = ('dog','cat','rabbit')
print(animal.index('cat'))

1

In [11]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("Kiwi","pineapple","apple")
print("Kiwi" in fruits)

True

In [12]:
# 16. Write a code to create a set withthe elements 'a','b','c' and print it.
letters = {'a','b','c'}
print(letters)

{'a', 'c', 'b'}

In [22]:
# 17. Write a code to clear all elements from the set {1,2,3,4,5}.
num = {1,2,3,4,5}
num.clear()
print(num)

set()

In [24]:
# 18. Write a code to remove the elements 4 from the set {1,2,3,4}
num = {1,2,3,4}
num.remove(4)
print(num)

{1, 2, 3}

In [28]:
# 19. Write a code to find the union of two sets {1,2,3} and {3,4,5}
num1 = {1,2,3}
num2 = {3,4,5}
# num = num1 + num2
num = num1.union(num2)
print(num)

{1, 2, 3, 4, 5}

In [34]:
# 20. write a code to find the intersection of two sets {1,2,3} and {3,4,5}.
num1 = {1,2,3}
num2 = {3,4,5}
num = num1.intersection(num2)
print(num)

{3}

In [35]:
#21. Write a code to create a dictionary with the keys "name","age",and "city" and print it.
details = {"name":"Munish","age":19,"city":"bilasput"}
print(details)

{'name': 'Munish', 'age': 19, 'city': 'bilasput'}

In [3]:
# 22. Write a code to add a new key- value pair "country":"USA" to the dictionary {'name':'John','age':25'}
details = {"name":"John","age":30}
details["Country"]="USA"
print(details)

{'name': 'John', 'age': 30, 'Country': 'USA'}

In [5]:
# 23. Write a code to access the value associated with the key "name" in the dictinary {"name":"Alic","age":30}
details = {"name":"Alice","age":30}
name = details.get("name")
print(name)

Alice

In [12]:
# 24. Write a code to remove the key "age" from the dictionart {"name":"Bob","age":22,"city":"New York"}
details = {"name":"Bob","age":22,"city":"New York"}
details.pop("age")
print(details)

{'name': 'Bob', 'city': 'New York'}

In [13]:
# 25. Write a code to check if the key "city" exists in the dictionar {"name":"Akice","city":"Paris"}
details = {"name":"Alice","city":"Paris"}
print("city" in details)

True

In [16]:
# 26. Write a code to create a list , a tuple , and a dictionart , and print them all.
my_dictionary = {"name":"Alice","city":"Paris"}
my_list = ["Munish","Sahil","Abhishek"]
my_tuple = {"Apple","Pineapple","Banana"}
print(f" This is my list {my_list} \n and this is my tuple {my_tuple}  \n and this is my dictionary  {my_dictionary}")

 This is my list ['Munish', 'Sahil', 'Abhishek']
 and this is my tuple {'Apple', 'Pineapple', 'Banana'}
 and this is my dictionary  {'name': 'Alice', 'city': 'Paris'}

In [21]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100 , sort it in ascending order , and print the result (replaced)
my_list = [11,22,3,44,5]
print(my_list)
my_list.sort() #unsorted
print(my_list) # sorted

[11, 22, 3, 44, 5]
[3, 5, 11, 22, 44]

In [25]:
# 28. Write a code to create a list with strings and print the elements at the third index.
first = "My "
second = "name "
third = "is "
fourth = "Munish "
combined = [ first,second,third,fourth,]
print(combined)

['My ', 'name ', 'is ', 'Munish ']

In [28]:
#29 . Write a code to combine two dictionaries into onne and print the result .
first = {"name":"Munish","age":19}
second = {"city":"bilaspur"}
combined = first | second
print(combined)

{'name': 'Munish', 'age': 19, 'city': 'bilaspur'}

In [31]:
# 30.  write a code to convert a list of strings into a set 
my_list = ["Munish","Sahil","vishal"]
my_set = set(my_list)
print(my_set)

{'vishal', 'Munish', 'Sahil'}