In [1]:
i=1
while i <=5:
    print("rahul")
    i+=1

rahul
rahul
rahul
rahul
rahul

In [4]:
l=[6,7,7]
for i in range(len(l)):
    print(l[i])

6
7
7

In [300]:
for i in range(1,10):
    print("aditya , Mishra")

aditya , Mishra
aditya , Mishra
aditya , Mishra
aditya , Mishra
aditya , Mishra
aditya , Mishra
aditya , Mishra
aditya , Mishra
aditya , Mishra

In [301]:
i = 5
while i>=1:
    print(i)
    i=i-1

5
4
3
2
1

In [303]:
l=[1,2,3,4]
sum=1
for i in l:
    sum=sum*i
print(sum)

24

In [305]:
# write a program to print negative number in a list:
l = [-1,-2,-3,-4]
for i in l:
    if i<0:
        print(i,end=" ")

-1 -2 -3 -4

In [309]:
# write a program to print sum of numbers in  a list:
l=[1,2,3,4]
sum=0
for i in l:
    sum=sum+i
print(sum)

10

In [311]:
l=[]
n=int(input("enter a elements"))
for i in range(i,n+1):
    e=int(input("enter elements"))
    l.append(e)
    print(min(l))

enter a elements 2

In [312]:
# write a program to print a table:
num = int(input("Enter any number"))
count = 1
while count<=10:
    print(f" {num} X {count} = {num*count}")
    count+=1

Enter any number 5

 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45
 5 X 10 = 50

In [313]:
i=10
while(i>=1):
    print(i)

    i=i-1

10
9
8
7
6
5
4
3
2
1

In [314]:
i = 2
while (i<=10):
    print(i)
    i+=2

2
4
6
8
10

In [2]:
# even no. 1 to 10
i=1
while(i<=10):
    if(i%2==0):
        print(i)
    i+=1

2
4
6
8
10

In [5]:
# write a program to print sum of even numbers in range 1 to 100 using while loop
i = 1
sum = 0
while (i<=100):
    if(i%2==0):
        print(i)
        sum+=i
    i+=1
print("sum of even is",sum)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
sum of even is 2550

In [6]:
i = 1
n=int(input("Enter a number:"))
while (i<=10):
    a=n*i
    print(a)
    i=i+1

Enter a number: 5

5
10
15
20
25
30
35
40
45
50

In [9]:

n=int(input("Enter a number:"))
for i in range(1,11):
    a=n*i
    print(a)
    i=i+1

Enter a number: 5

5
10
15
20
25
30
35
40
45
50

In [2]:
i =0
j=0
while i<3:
    j=0
    while j<3:
        print(i,j)
        j+=1
        i+=1

0 0
1 1
2 2

In [6]:
for i in range(10):
    if i==6:
        # continue
        break
    print(i)

0
1
2
3
4
5

# Functions