In [11]:
class account():
    def __init__ (self,name=None,balance=0):
        self.name=name
        self.balance = balance
    def getbalance(self):
         return self.balance
    def deposit(self,amount=0):
         self.balance += amount
    def withdraw (self,amount=0):
        self.balance -= amount
class savingsaccount(account):
    def __init__ (self,name=None,balance = 0,interestrate=0):
        super(). __init__(name,balance)
        self.interestrate = interestrate
    def interestamount(self):
        return (self.balance*self.interestrate)/100
user1 = savingsaccount("Aditya",10000.22)
print(user1.name)
print(user1.getbalance())
user1.deposit(10000)
user1.withdraw(26700)
print(user1.getbalance())
print(user1.interestamount())

Aditya
10000.22
-6699.779999999999
-0.0

In [12]:
class add:
    name = "Munish"
    age = 22
obj = add()
print(obj.name,obj.age)

Munish 22

In [16]:
class employee:
    emp_name = "Munish"
    emp_salary = 14000000000
emp1 = employee()
# print(emp1.emp_name)
emp1.emp_name = "Sahil"
emp1.emp_salary = 1
emp2 = employee()
emp2.emp_name = "Abhisek"
emp2.emp_salary = 0.0000000000000001
print(emp1.emp_name,emp1.emp_salary)
print(emp2.emp_name,emp2.emp_salary)

Sahil 1
Abhisek 1e-16

In [24]:
class person:
    def __init__ (self,name,_class,city):
     self.name = name
     self._class = _class
     self.city = city
obj = person
obj.name = "Munish"
obj._class = 2323
obj.city = "Bilaspur"
print(obj.name,obj._class,obj.city)

Munish 2323 Bilaspur

In [25]:
class classA:
    def __init__(self):
        print("This is classA")
class classB:
    def __init__ (self):
        print("This is class B")
class classC(classA,classB):
    pass
object = classC()

This is classA

In [30]:
class X:
    def info(self):
        print("Info from x")
class Y:
    def info(self):
        print("Info from Y")
class Z(X,Y):
    def info(self):
        print("Info from Z")
class W(Z):
    pass
obj = W()

In [ ]:
# student , faculty , non teacing class make for tomorrow
stduent - name , roll no. , department, marks 
faculty - name , department , role

In [32]:
class person:
    def __init__(self):
        print("Munish")
        print("Sahil")
obj =person()
obj1 = person()
obj2 = person()
# print(obj,obj1,obj2)

Munish
Sahil
Munish
Sahil
Munish
Sahil

In [33]:
class student:
    def __init__ (self):
     name = "Munish"
     age = 11
     marks = 2323
     print(name,age,marks)
obj = student()

Munish 11 2323

In [35]:
class student:
    def __init__ (self,name,age,marks):
        self.name = name
        self.age = age
        self.marks = marks
    def display(self):
        print(f"The name is {self.name} and age is {self.age} and my marks are {self.marks}")
a = student("Munish",12,3232)
b = student("Sahil",1,0)
a.display()
b.display()

The name is Munish and age is 12 and my marks are 3232
The name is Sahil and age is 1 and my marks are 0

In [37]:
def greet(fx):
    print("Good night")
    fx()
    print("so jaa chal")
@greet
def Hello():
    print("Chal be abhi hawa aane de")
@greet
def show():
    print("htt be")
# @greet
# def add(a,b):
#     c=a+b
#     print(c)
# add(55,33)

Good night
Chal be abhi hawa aane de
so jaa chal
Good night
htt be
so jaa chal

In [39]:
def topten():
    yield 4
    yield 6
    yield 7
value = topten()
print(next(value))

for i in value:
    print(i)

4
6
7

In [138]:
def mygenerator():
    for i in range(50):
        yield i
print(next(gen))
gen = mygenerator()

0

In [ ]:
# Student class with name, roll_no, department, marks
class student:
    def __init__(self, name, roll_no, department, marks):
        self.name = name
        self.roll_no = roll_no
        self.department = department
        self.marks = marks
        print(f"Student Name: {self.name}")
        print(f"Roll No: {self.roll_no}")
        print(f"Department: {self.department}")
        print(f"Marks: {self.marks}")

stu1 = student("Munish", 101, "CSE", 95)
stu2 = student("Sahil", 102, "ECE", 88)
stu3 = student("Abhishek", 103, "ME", 92)

:

In [ ]:
# Non-teaching class with name, department, role
class non_teaching:
    def __init__(self, name, department, role):
        self.name = name
        self.department = department
        self.role = role
        print(f"Non-Teaching Staff Name: {self.name}")
        print(f"Department: {self.department}")
        print(f"Role: {self.role}")

nt1 = non_teaching("Mr. Kumar", "Admin", "Clerk")
nt2 = non_teaching("Ms. Verma", "Library", "Librarian")
nt3 = non_teaching("Mr. Das", "Maintenance", "Supervisor")

In [ ]:
# Faculty class with name, department, role
class faculty:
    def __init__(self, name, department, role):
        self.name = name
        self.department = department
        self.role = role
        print(f"Faculty Name: {self.name}")
        print(f"Department: {self.department}")
        print(f"Role: {self.role}")

fac1 = faculty("Dr. Sharma", "CSE", "Professor")
fac2 = faculty("Ms. Gupta", "ECE", "Assistant Professor")
fac3 = faculty("Mr. Singh", "ME", "Lecturer")