In [ ]:
# Membership Operator :

In [2]:
age = int(input("Enter your age:"))
if age>=18:
    print("You are eligible to vote")
else:
    print("not eligible to vote ")

Enter your age: 55

You are eligible to vote

In [7]:
# check whether the no. is even or not 
num = int(input("Enter any number:"))
if (num%2==0):
    print("Even no.")
else:
 print("odd no.")

Enter any number: 22

Even no.

In [27]:
x =12
y =10
if x<y:
    print("x is less then y")

In [29]:
a =1
b=6
if a>b:
   print("a is less then b e")
else:
    print("a")

a

In [36]:
x =4
if x>0:
 print("Positive number")
else:
 print("Negative number")

Positive number

In [38]:
# Nested if else condition
x =10
y=9
if x==y:
    print("x and y are equal")
if x>y:
    print("x is greater than y")
if y>x:
    print("y is greater than x")

x is greater than y

In [41]:
num = 17
if num>0:
    if num==0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

# IF Else condition

In [44]:
num1 = float (input("Enter the first number:"))
num2 = float(input("Enter the second number:"))
if num1>num2:
    print(num1," is greater than ",num2)
elif num2>num1:
    print(num2," is greater than ",num1)

Enter the first number: 12
Enter the second number: 13

13.0  is greater than  12.0

## For loop

In [45]:
fruits = ['apple','pineapple','banana']
for i in fruits:
    print(i)

apple
pineapple
banana

In [48]:
for i in range(1,3):
    print("Munish")
    print("Kumar")
    print("Sharma")

Munish
Kumar
Sharma
Munish
Kumar
Sharma

In [50]:
a = "Mehak"
b = "Rishav"
for i in range(1,9):
    print(b,a)

Rishav Mehak
Rishav Mehak
Rishav Mehak
Rishav Mehak
Rishav Mehak
Rishav Mehak
Rishav Mehak
Rishav Mehak

In [52]:
for i in range (1,11):
    # print(i)
    print("Munish")

Munish
Munish
Munish
Munish
Munish
Munish
Munish
Munish
Munish
Munish

In [54]:
odd =0
even =0
for i in range (1500,2701):
    if i%2==0:
        even+=1
    else:
        odd+=1
print("no of even:",even)
print("no. of odd:",odd)

no of even: 601
no. of odd: 600

In [57]:
# write a program to check even and odd number using for loop 1,100
odd=0
even = 0
for i in range(1,100):
    if i%2==0:
        even+=1
    else:
        odd+=1
print("no. of even:",even)
print("no. of odd:", odd)

no. of even: 49
no. of odd: 50

In [59]:
numbers = (1,2,3,4,5,6,7,8,9)
count_odd = 0
count_even = 0
for x in numbers:
    if x%2==0:
        count_even+=1
    else:
        count_odd+=1
print("The count of even numbers is:",count_odd)
print("The count of odd numbers is:",count_even)

The count of even numbers is: 5
The count of odd numbers is: 4

In [ ]:
# i=1
# j=1
# while (i<=5):
#     print('Hello')
#  while(j<=4):
#     print("Everyone")
#     j=j+1
#     i=i+1

In [4]:
for i in range(1,10):
    print(('i')*i)

i
ii
iii
iiii
iiiii
iiiiii
iiiiiii
iiiiiiii
iiiiiiiii

In [2]:
for i in range(10):
    print(('A')*i)

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
AAAAAAAA
AAAAAAAAA

In [3]:
for i in range(1,30,3):
    print(i)

1
4
7
10
13
16
19
22
25
28

In [5]:
a = "python"
for i in range(len(a)):
    print(a[i])

p
y
t
h
o
n

In [8]:
a = int(input("Enter the value whose table you want "))
for i in range(1,11):
    print(a,'X',i, "=" ,a*i)

Enter the value whose table you want  5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [1]:
# find those numbers which are divisibble by 7 and multiples of 5, between 1500 and 2700(both included); by using for loop
divisible = 0
multiple = 0
for i in range(1500,2700):
    if i%7==0 and i/5:
        print(i)

1505
1512
1519
1526
1533
1540
1547
1554
1561
1568
1575
1582
1589
1596
1603
1610
1617
1624
1631
1638
1645
1652
1659
1666
1673
1680
1687
1694
1701
1708
1715
1722
1729
1736
1743
1750
1757
1764
1771
1778
1785
1792
1799
1806
1813
1820
1827
1834
1841
1848
1855
1862
1869
1876
1883
1890
1897
1904
1911
1918
1925
1932
1939
1946
1953
1960
1967
1974
1981
1988
1995
2002
2009
2016
2023
2030
2037
2044
2051
2058
2065
2072
2079
2086
2093
2100
2107
2114
2121
2128
2135
2142
2149
2156
2163
2170
2177
2184
2191
2198
2205
2212
2219
2226
2233
2240
2247
2254
2261
2268
2275
2282
2289
2296
2303
2310
2317
2324
2331
2338
2345
2352
2359
2366
2373
2380
2387
2394
2401
2408
2415
2422
2429
2436
2443
2450
2457
2464
2471
2478
2485
2492
2499
2506
2513
2520
2527
2534
2541
2548
2555
2562
2569
2576
2583
2590
2597
2604
2611
2618
2625
2632
2639
2646
2653
2660
2667
2674
2681
2688
2695

In [15]:
# leap year calculation
year = int(input("Enter the year: "))
if (year % 4 == 0):
    if (year % 100 == 0):
        if (year % 400 == 0):
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter the year:  2025

2025 is not a leap year