In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('data.csv')
# print(df.head())
print(df)

         Unnamed: 0  Dst Port  Protocol  Flow Duration  Tot Fwd Pkts  \
0            146275      3389         6        5206015             9
1            512109       443         6       60991608            14
2            807703        53        17          27292             1
3            491912       443         6       70343424            17
4            858679        53        17         137267             2
...             ...       ...       ...            ...           ...
1252841      940974     64678         6           1397             5
1252842       45433     51274         6              1             3
1252843      912254        80         6            233             2
1252844      990683        53        17          23818             1
1252845      576130        80         6             70             2

         Tot Bwd Pkts  TotLen Fwd Pkts  TotLen Bwd Pkts  Fwd Pkt Len Max  \
0                  11             1213             1948              661
1                  14             1211             3396              875
2                   1               45              163               45
3                  20             1118             5653              258
4                   2               94              214               47
...               ...              ...              ...              ...
1252841             2              935              267              935
1252842             0               77                0               46
1252843             0                0                0                0
1252844             1               34              204               34
1252845             0                0                0                0

         Fwd Pkt Len Min  ...  Fwd Seg Size Min    Active Mean     Active Std  \
0                      0  ...                20       0.000000       0.000000
1                      0  ...                20  116504.666667  117401.762867
2                     45  ...                 8       0.000000       0.000000
3                      0  ...                20  527683.500000  386311.526445
4                     47  ...                 8       0.000000       0.000000
...                  ...  ...               ...            ...            ...
1252841                0  ...                20       0.000000       0.000000
1252842                0  ...                20       0.000000       0.000000
1252843                0  ...                20       0.000000       0.000000
1252844               34  ...                 8       0.000000       0.000000
1252845                0  ...                20       0.000000       0.000000

         Active Max  Active Min     Idle Mean      Idle Std  Idle Max  \
0                 0           0  0.000000e+00  0.000000e+00         0
1            356150       68519  1.000239e+07  1.665183e+04  10009249
2                 0           0  0.000000e+00  0.000000e+00         0
3            800847      254520  3.457024e+07  3.406089e+07  58654921
4                 0           0  0.000000e+00  0.000000e+00         0
...             ...         ...           ...           ...       ...
1252841           0           0  0.000000e+00  0.000000e+00         0
1252842           0           0  0.000000e+00  0.000000e+00         0
1252843           0           0  0.000000e+00  0.000000e+00         0
1252844           0           0  0.000000e+00  0.000000e+00         0
1252845           0           0  0.000000e+00  0.000000e+00         0

         Idle Min  Label
0               0      1
1         9968397      1
2               0      1
3        10485549      1
4               0      1
...           ...    ...
1252841         0      1
1252842         0      1
1252843         0      1
1252844         0      1
1252845         0      1

[1252846 rows x 79 columns]

In [ ]:
ser=pd.Series('bye mishra',index=[0,1,2,3,4])
print(ser)

0    Munish
1    Munish
2    Munish
3    Munish
4    Munish
dtype: object

In [12]:
import numpy as np
ser1 =pd.Series(np.linspace(2,33,4))
print(ser1)

0     2.000000
1    12.333333
2    22.666667
3    33.000000
dtype: float64

In [15]:
ser1 =pd.Series(np.linspace(2,33,4).astype(int))
print(ser1)

0     2
1    12
2    22
3    33
dtype: int64

In [21]:
for x in "abcdefgh":
    print(x)

a
b
c
d
e
f
g
h

In [22]:
ser=pd.Series(range(1,20,3),index=[x for x in 'abcdefg'])
print(ser)

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

In [23]:
ser=pd.Series(range(10))
print(ser)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [25]:
data = [10,20,30,40,50]
ser=pd.Series(data)
print(ser)

#Access element at position 2 using indexing operator
element = ser[2]
print(element)
elements=ser[3]
print(elements)

0    10
1    20
2    30
3    40
4    50
dtype: int64
30
40