# DATA TYPE

In [1]:
There are three types of data types:
1. Numeric: int, float, complex 
2. Sequence: string, list, tuple
3. Mapping: Dictionaries

SyntaxError: invalid syntax (3652697680.py, line 1)

In [ ]:
a=int(input("mishra"))
b=complex(input("b:" ))   
c=a+b
print(c)

mishra 5

In [2]:
a= int(input("Palash"))
b= complex(input("b:"))
c=a+b
print(c)
print(type(a))

Palash 2
b: 5

(7+0j)
<class 'int'>

In [1]:
a=90.0
b="python"
c=90
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'str'>
<class 'int'>

In [ ]:
a=complex(input("enter a number"))
b=int(input("enter a number"))
c=a+b 
print(c)
print(type(a))

In [3]:
a=90
print(float(a))
b=89.0
print(int(b))
c=56+78j 
print(int(c))

90.0
89

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [10]:
a="hello"
print(a[-1:-5])

In [6]:
a=6
z=print(str(a))
print(type(z))

6
<class 'NoneType'>

In [ ]:
a=int(input("enter numebr"))
b=int(input("enter numebr"))
print(a+b)
print(type(a))
print(a)

Variables can store data of different types, and different types can do different things.

- interger

- float

- complex

- Boolean

- Range

- byetarray

- set

- frozenset

- List

- Tuple

- string

- Dicitionary

- None

1.Numeric: int,float

2.Sequence Types: str,tuple,list

3.Mapping Type:dict

# Numeric Type

 - (int,float)

Integers:

- It contains positive or negative whole numbers

In [ ]:
a="damini"
print(type(a))
# b=90
# print(type(b))
# print(type(a))
# print(a)

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
print(a+b)
print(type(a))

In [ ]:
a=90 
b=90.0
c=9+8j

In [ ]:
a="kartik"
print(type(a))

In [ ]:
a="aditya"
print(type(a))

In [ ]:
b=9.0
print(type(b))

for example :

1,2,3,4,-9,-8,-6,7,-546,-1

float:

- It is specified by a decimal point

for example :

13.2,-12.5,-4.8,7.8

In [7]:
a=4+0j
print(type(a))

<class 'complex'>

In [8]:
#if we need to check data type in python we use type() function
a=9
a=9.0
a=6+7j
print(type(a))

a = 5.6
print(a)
print(type(a))

<class 'complex'>
5.6
<class 'float'>

In [ ]:
a="preet"
a='sanket'
print(type(a))

# Casting

- Casting in Python refers to the process of converting a value from one data type to another. For example, converting an integer to a string, a float to an integer, etc.

functions for casting:

In [4]:
a=63
b=2
print(complex(a))
#print(float(a))
# print(type(b))
# b=print(float(a))
# print(b)

(63+0j)
63.0

In [5]:
a=90.8
print(int(a))

90

In [6]:
a=90.0
print(int(a))

90

In [7]:
a=6 
b=str(a)
print(type(b))
print(b)

<class 'str'>
6

In [ ]:
a=int(input("enter a number"))
b=complex(input("enter a number"))
print(a+b)
print(type(a))

- int()

- float()

In [ ]:
a=float(input("enter a number"))
print(a)
print(type(a))

In [ ]:
a=(input("enter a number"))
b=(input("enter a number"))
# c=a+b
print(a+b)

In [ ]:
#for example:
a=63
b = 9.5
c = 6

print(float(a))
print(str(c))
print(type(c))
print(int(b))

In [ ]:
a=float(input(""))
b=7
print(a+b)

- str()

In [ ]:
b=5

#Checking the data type of variable "num"
print(type(b))

# Converting "num" from an integer to a string
a = str(b)

# Checking the data of variable "num" after int to string conversion
print( type(a))
print(a)

In [ ]:
a=int(input("enter a  no.")) 
b=complex(input("enter a  no."))
print(a+b)
print(type(a))

In [ ]:
a=float(input("enter a number"))
print(a)
print(type(a))

In [ ]:
print("amit")

In [9]:
a=float(input("enter a number"))
b=float(input("enter a number"))
c=float(input("enter a number"))
d=a+b+c 
print(d)

enter a number 45.6
enter a number 56.7
enter a number 87.9

190.20000000000002

In [ ]:
n=5
print(type(n))
b=str(n)
print(b)
print(type(b))

# Sequence Type

- A sequence in Python is an ordered collection of elements. There are several built-in sequence types in Python, including:

- string

- list

- tuple ()

# String:

- A string is a squence of characters that can be a combination of letters, numbers,and special characters

In [ ]:
a="8"
b="9"
print(a+b)

In [12]:
a=6
print(type(a))

<class 'int'>

In [15]:
a='harman'
#    012345
#          -2-1
print(a[-6])

print(len(a))

h
6

In [16]:
# indexing:
#     positive indexing 0
#     negative indexing -1
a='hunny'
#    ynnuh
#  01234
# print(a[0:5:3])
print(a[-1:-6])
#    12345
#    01234
#  -54-3-2-1
# n-1
# a[start:end:step]

- It can be declared in python by using single quotes,double quotes,or even triple quotes.

- strings are immutable, they cannot be changed Each element of the string can be accessed using indexing or slicing

In [17]:
a="karan singh"
print(a[-7])
   
#    1
print(len(a))
#    12345
#    01234
#         2--1
#    n-1
#    5-1=5=4

n
11

indexing:

- Indexing in Python refers to the process of accessing a particular element sequence data type for example: (list,tuple,string)

In [13]:
a="preet"
print(len(a))
print(a[-1])

5
t

- Indexing starts from zero (0) for the first element and goes up to n-1 for an n element sequence, where n is the length of the sequence. You can access elements in a sequence by specifying the index of the element inside square brackets ([])

In [18]:
#for example
#     01234
#     12345
a ="hello"
    0lleh
print(a[0:5:2])
# print(a[0,1])

#     0   -1
#     0123
#     0
#     n-1 
#     5-1=4
#     01234
start:end:step []
# print(a[0:4:3])
# print(a[-1])
    
# print(a[-5])

IndentationError: unexpected indent (2938979457.py, line 5)

In [19]:
a="hello"
print(a[2])

l

We can access characters in a String in Two ways :

- Accessing Characters by Positive Index Number

In [20]:
 #Example 1 (Positive Indexing) : 

a ="hello"
#          
print(a[-1])

o

- Accessing Characters by Negative Index Number

In [ ]:
#Example 2 (Negative Indexing) : 

a ="hello"
#     01234
print(a[0])
print(a[1])

slicing:

- Slicing in Python refers to the process of extracting a portion of a sequence, such as a list, tuple, or string, and creating a new sequence from it. The original sequence remains unchanged.

In [ ]:
a="iamlearningpython"
print(len(a))
print(a[::-2])
# [start point: end point: step]

- Slicing is performed by specifying two indices separated by a colon : inside square brackets ([]). The first index is the starting position, and the second index is the ending position. The slice includes all the elements between the start and end indices, including the start index but excluding the end index. The start index is optional and defaults to 0, and the end index is optional and defaults to the length of the sequence. For example:

- string[start : end : step]

In [1]:
a="anurag"
print(a[-7:-3])

anu

In [3]:
# declaring the string
#     012345678910  12345
str ="Iamlearningpython"
#         l a
# print(len(str))
# print(str[0:17:3])
print(str[ : :-1]
# slicing using indexing sequence
# print(str[2:7:2])
# print(str[3:7:2])
# print(str[1 : 10 : 3])

_IncompleteInputError: incomplete input (2872058958.py, line 11)

In [21]:
str ="Iamlearningpython"
print(str[ : :-1])

nohtypgninraelmaI

In [22]:
a="kuldeep"
print(a[0:7:3])

kdp

In [23]:
# declaring the string
str =" i am learning python!"
 
print("Original String :-")
print(str)
 
# reversing the string using slicing
print("Reverse String :-")
print(str[: : -1])

Original String :-
 i am learning python!
Reverse String :-
!nohtyp gninrael ma i

Deleting/Updating from a string:

- Updating or deletion of characters from a string is not allowed this will cause an error because item assignment or item deletion from a string is not supported.Although deletion of the entire string is possible with the use of  built-in del keyword .this is because strings are immutable,hence elements of a string cannot be changed once it has been assigned .only new string can be reassigned to the same name.

In [ ]:
#for deleting
a ="python"
#del a
print(a)

In [ ]:
#    01
a="hello"
print(a[: :1])
# a[1]="p"
# print(a)

# a=""

In [ ]:
a=90
b=100
print(a+b)

In [ ]:
#for updating
#  01234
s ="Hlo, I'm python"
s1 =s[0:2]+"78"+s[3:]
print(s1)

functions for string :

- there are several built-in functions for manipulating and working with strings. Here are some of the most commonly used string functions

- len(string): returns the length of a string.

In [ ]:
s = "Helloworldfrdytgujyhuld   hy??|"
print(s[-2])
print(len(s))

In [ ]:
a="hello"
print(len(a))

- str.strip(): Remove spaces at the beginning and at the end of the string:

In [ ]:
#exaple 1
txt = "   gfchygu?  apple    "
# print(txt)
x = txt.strip()
print(x)
# print("fgukf" ,x,"fytyi")

# print("of all fruits",x ,"is my favorite")

In [ ]:
#exaple 2
txt = "banana tbcd "

x = txt.strip("tbcd ")

print(x)

- str.lower(): returns a copy of the string with all the uppercase characters converted to lowercase.

In [ ]:
s = "HELLO WORLD !"

print(s.lower())

- str.upper(): returns a copy of the string with all the lowercase characters converted to uppercase.

In [ ]:
s = "hello world!"
print(s.upper())

- str.replace(old, new): returns a copy of the string with all occurrences of old substituted by new.

In [ ]:
s= "hello world!"
print(s.replace('hello','hi'))

- str.split(separator): returns a list of strings after breaking the given string by the specified separator.

In [ ]:
txt = "welcome vghvrjh  to the jungle"

x = txt.split()

print(x)

- str.join(iterable): returns a string a string concatenated with the elements of an iterable

In [ ]:
print("_".join(["hello","world","bye","damini"]))

- str.format():returns a formatting string where curly braces '{}' in the string are replaced by values specified in the arguments

In [ ]:
print("{} {} ".format("ho","world"))

a=(input("enter a number"))
print(a)
print(type(a))

In [ ]:
a=(input("number"))
print(a)

In [ ]:
a=(input("enter a name"))
print(a)

In [ ]:
a=float(input("enter a name"))
print(a)
print(type(a))

In [ ]:
a = int(input("enter a  frst number"))
b = int(input("enter a second number"))
print(f"{a} + {b} =",a+b)

Taking input :

string------>input()

In [ ]:
a = int(input("enter value of a"))
b= int(input("enter value of b "))
print(type(a))

sum =a+b 
print(sum)

interge:

In [ ]:
a =int(input("enter value of a"))
b =int(input("enter value of b"))

c=a+b

print(c)

Type check-----> type()

syntax---print(type(a))

Conversion character to number-ord:

A-Z =65-90

a-z =97-122

In [ ]:
a =input("")
b= ord(a)
print(b)

Conversion number  to character-chr:

In [ ]:
a =int(input())
b =chr(a)
print(b)

In [ ]:
a =input("enter string : ")

print(f"you give this {a} and result is this {a[::-1]}")

In [ ]:
a="uhello"
#   -5-43-2-1
print(a[-6:-1])

In [ ]:
print("sneh""aditya""ritik")

In [ ]:
a="hello"
print(a[-1:-5])
print(a[-5:-1])

In [ ]:
# start is after end, the resulting substring will be empty. In Python, 
# slicing works in such a way that when start is greater than or equal to end