# Operators

In [1]:
a="a1","b2","c3"
print(dict(a))

{'a': '1', 'b': '2', 'c': '3'}

In [1]:
1.print a minimum number in a list.
2.calculate the simple interest in python.
3.reverse a list
4.
a='python'
b=[7,8,9]
c=(a,b)
print(c[1][1:])

SyntaxError: invalid decimal literal (831849197.py, line 1)

In [2]:
#Minimum number 
numbers = [10, 5, 3, 9, 21, 1, 8]

# Find and print the minimum number
min_number = min(numbers)
print("The minimum number in the list is:", min_number)

The minimum number in the list is: 1

In [1]:
#max numbers
numbers   = [10,30,40,67,78,87]
max_number = max(numbers)
print("the maximum number in the list is:",max_number)

the maximum number in the list is: 87

In [ ]:
#simple interest
P = float(input("Enter the principal amount: "))
R = float(input("Enter the rate of interest: "))
T = float(input("Enter the time (in years): "))

# Calculate Simple Interest
SI = (P * R * T) / 100

# Display the result
print("Simple Interest is:", SI)

In [1]:
#Reversed list
my_list = [1, 8, 9, 5] 

# Reversing the list in-place
my_list.reverse()

# Printing the reversed list
print("Reversed list:", my_list)

Reversed list: [5, 9, 8, 1]

In [7]:
a='python'
b=[7,8,9]
c=(a,b)
print(c)
print(c[1][1:])

('python', [7, 8, 9])
[8, 9]

In [8]:
a=7
b=9
c=a-b
print(c)

-2

- In Python, operators are symbols that perform operations on values and variables

In [3]:
2+3

5

In [ ]:
# 2/5float divis

In [ ]:
2/4

In [ ]:
# integer divison 2//9

In [1]:
8/2

4.0

In [ ]:
a=float(input("please enter value"))
print(a)
print(type(a))

In [1]:
a=int(input('please give one value: '))
a%=5
print(a)

please give one value: 4
4

In [ ]:
# Types of operators

- Arithmetic Operators:

- Comparison Operators:

- Assignment Operators:

- Logical Operators:

- Membership Operators:

In [ ]:
limcaa

- Identity Operators:

Arithmetic Operators:

- These perform mathematical operations like addition, subtraction, multiplication

In [ ]:
#a+b 
# (+) operator 
#a,b---->operand

In [2]:
a=2
b=5
c= a**b
print(c)

32

In [3]:
#Addition(+)
a =int(input('please give one value: '))
b =int(input('please give second value'))
add =a+b
print(add)

please give one value: 5
please give second value7
12

In [4]:
#Subtraction(-)
a =int(input('please give one value: '))
b =int(input('please give second value'))
sub =a-b
print("a-b:",sub)

please give one value: 77
please give second value56
a-b: 21

In [ ]:
#multiplication(*)
a =int(input('please give one value: '))
b =int(input('please give second value'))
multi =a*b 
print("a*b:",multi)

In [5]:
#division (/) gives float value
a =int(input('please give one value: '))
b =int(input('please give second value'))
div =a/b 
print("a/b:",div)

please give one value: 45
please give second value67
a/b: 0.6716417910447762

In [6]:
#division (//) gives int value gives round value
a =int(input('please give one value: '))
b =int(input('please give second value'))
div =a//b
print("a//b:",div)

please give one value:  5
please give second value 7

a//b: 0

###### remender(%)
a =int(input('please give one value: '))
b =int(input('please give second value'))
remender = a%b
print("a%b:",remender)

In [ ]:
#power (**)
a =int(input('please give one value: '))
b =int(input('please give second value'))
power = a**b
print("a**b:",power)

In [3]:
print("mishra\n"*10)

mishra
mishra
mishra
mishra
mishra
mishra
mishra
mishra
mishra
mishra

In [5]:
2**5

16

Comparison Operators:

 - These operators compare two values and return a Boolean value indicating whether the comparison is True or False

In [9]:
a=34
b=35
print(a<=b)

True

In [10]:
#equal(==)
a =int(input('please give first value: '))
b =int(input('please give second value'))
print(a==b)
print(a!=b)

please give first value:   4
please give second value 8

False
True

In [12]:
#equal(==)
a =6
b = 6
print(a==b)

True

In [ ]:
# not equal(!=)
a =int(input('please give one value: '))
b =int(input('please give second value'))
print(a!=b)

please give one value:  45

In [1]:
#greater then (>)
a =int(input('please give one value: '))
b =int(input('please give second value'))
print(a>4)
print(b>7)

please give one value:  3
please give second value 5

False
False

In [18]:
a=int(input("number"))
b=int(input("number2"))
print(a<=b)

number7
number229
True

In [10]:
#less than (<)-
a =int(input('please give one value: '))
b =int(input('please give second value'))
print(a<4)
print(b<7)

please give one value: 6
please give second value6
False
True

In [10]:
#equal to or greater then(>=)
a =int(input('please give one value: '))

print(a>=5)
# print(a>=4)
# print(a>=3)
# print(a>=2)
# print(a>=1)
# b =4
# print(a>=b)

please give one value: 5
True

In [11]:
#equal to and less then then(<=)
a =int(input('please give one value: '))
b =int(input('please give second value'))
print(a<=b)

please give one value: 6
please give second value7
True

In [12]:
==
!=
>
<
>=
<=

SyntaxError: invalid syntax (1100370962.py, line 1)

Assignment Operators:

In [15]:
a = 56

- These operators are used to assign values to variables

In [ ]:
a = int(input('please give one value: '))

In [ ]:
a =int(input('please give one value: '))
a+=5
print(a)

z

In [9]:
a =float(input('please give one value: '))

a//=2
print(a)

please give one value: 8.3
4.0

In [7]:
a =int(input('please give one value: '))
a%=5
print(a)

please give one value: 2
2

In [ ]:
a =int(input('please give one value: '))
a**=2
print(a)

In [3]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
    print("number is Even")
else:
     print("number is Odd")

Enter a number: 78
number is Even