# while loop

In [1]:
initilization
condition
inc/dec

NameError: name 'initilization' is not defined

In [ ]:
a=90
a=a-5
a

In [4]:
i=1
while i<=5:
    print("mishra")
    i=i+1

mishra
mishra
mishra
mishra
mishra

In [3]:
l=[6,7,8]
for i in range(len(l)):
    print(l[i])

6
7
8

In [10]:
for i in range( 1,10):
    print("carrer,point university")

carrer,point university
carrer,point university
carrer,point university
carrer,point university
carrer,point university
carrer,point university
carrer,point university
carrer,point university
carrer,point university

In [14]:
# intialization
# condition
# inc/dec
i=5
while i>=1:
    print(i)
    i=i-1

5
4
3
2
1

In [16]:
l=[1,2,3,4]
sum=1
for i in l:
    sum=sum*i
print(sum)

24

In [17]:
# wap  to print negative no.in a list

In [1]:
l=[-6,-7,8,9]
for i in l:
   if i<0:
    print(i,end=" ")

-6 -7

In [18]:
# wap  to print sum of no.in a list
sum=0
l=[1,2,3,4,5]
for i in l:
    sum=sum+i
print(sum)

15

In [19]:
#wap  to print odd of no.in a list
l=[1,2,3,4,5]
for i in l:
    if i%2!=0:
        print(i)

1
3
5

In [ ]:
# 1+2+3+4+5

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [20]:
l=[]
n=int(input("enter a elements"))
for i in range(1,n+1):
    e=int(input("enter elements"))
    l.append(e)
print(min(l))

enter a elements 5
enter elements 7
enter elements 8
enter elements 9
enter elements 8
enter elements 5

5

- A while loop, on the other hand, is used to repeat a set of actions as long as a certain condition is true

In [ ]:
# intialization
# condition
# inc/dec

In [11]:
for i in range(5):
    print("rahul")

rahul
rahul
rahul
rahul
rahul

In [1]:
i=5
while i>=1:
    print('rahul')
    i=i-1

rahul
rahul
rahul
rahul
rahul

In [3]:
for i in range(5):
    print("hunny")

hunny
hunny
hunny
hunny
hunny

In [5]:
i=1
while i<=5: 
    print("hunny")
    i=i+1

hunny
hunny
hunny
hunny
hunny

In [22]:
i=1 
while i<=10: 
    
    print("10x",i,"=",10*i)
    i+=1

10x 1 = 10
10x 2 = 20
10x 3 = 30
10x 4 = 40
10x 5 = 50
10x 6 = 60
10x 7 = 70
10x 8 = 80
10x 9 = 90
10x 10 = 100

In [3]:
i=10  
while(i>=1):
    print (i)
    
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Q1Write a program to print no  
intialization
condition
ince /dec

In [24]:
i = 2
while (i<=10):    
    
    print(i)     
    
    i+=2

2
4
6
8
10

In [25]:
#Q2 even no 1 -10 
i =1
while(i<=10):   
    if(i%2==0):
        print(i)  
    i+=1

2
4
6
8
10

In [ ]:
i=1 
sum=0 
while(i<=10): 
     sum = sum + i 
     i+=1 
print("sum of no. is",sum)

In [6]:
#Q3 write a program to print sum of 1 - 10 no.
i = 1
sum =0
while(i<=10):  
    sum = sum+i  
    i+=1        
print(sum)

SyntaxError: invalid syntax (643932026.py, line 6)

In [8]:
#Q4Print numbers from 0 to 4
i = 0
while i <5:
    print(i)
    i += 1

0
1
2
3
4

In [9]:
1+2+3+4+5
sum=0
i=1
while i<=10:
    sum=sum+i
    i=i+1
print(sum)

55

In [26]:
#Q5 Write a program to print sum of even no. in range 1-100
i = 1 
sum =0 
while(i<=100):  
    if(i%2==0): 
        sum =sum+i  
    i+=1   
print(sum)

2550

In [11]:
# I=2
# Sum=0
# While I<=100:
#          Sum=sum+I
#      I=i+2
# Print(Sum)

In [12]:
num=1
print("even numbers between 1 to 100 are: ")
while num<100:
    num=num+1
    if(num%2==0):
        continue
print(num,'',end='')

even numbers between 1 to 100 are:
100

In [27]:
i=1
n=int(input("Enter a number:"))
while(i<=10): 
      a=n*i
        print(a)
        i=i+1

Enter a number: 4

4
8
12
16
20
24
28
32
36
40

In [6]:
#Q6 write a program to print table of entered no
a =int(input("enter no. "))  
b =1  1<=10
while(b<=10):  
    print(a,"x",b,'=',a*b)  
#         6X1=6
#         6X2=12
                    
    
    b+=1

enter no. 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114
6 x 20 = 120

In [29]:
#Q7write a program to print  character at even position of a string
a="sehjor"
#print(len(a))
i =0    
while (i<=len(a)):  
    print(a[i]) 
    i+=2

6
s
h
o

IndexError: string index out of range

In [10]:
i =1
while (i<=10):
    print("bhavya")
    i =i+1

bhavya
bhavya
bhavya
bhavya
bhavya
bhavya
bhavya
bhavya
bhavya
bhavya

In [30]:
i = 5
while(i>=1):
    print(i)
    i-=1

5
4
3
2
1

# nested while

In [31]:
i = 0
j = 0
while i < 3: 
    j=0
    while j < 3:  
        print(i, j) 
        j +=1   
    i +=1

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [3]:
n = int(input("Enter the number : "))    
i = 1

while i<=10:  
    n = n * 1  
    print(n,'x',i,'=',n*i)  
    i += 1

Enter the number : 67
67 x 1 = 67
67 x 2 = 134
67 x 3 = 201
67 x 4 = 268
67 x 5 = 335
67 x 6 = 402
67 x 7 = 469
67 x 8 = 536
67 x 9 = 603
67 x 10 = 670

In [2]:
a=0
b=0
c=0
while(a<5):
        print("Hello")
        while(b<3):
            print("Everyone")
            b=b+1
        
        a=a+1
          
            
#         b=0

Hello
Everyone
Everyone
Everyone
Hello
Hello
Hello
Hello

In [4]:
i =1
while i<=5:  2<=5
    print("hello",end=" ")
    j=1
    while j<4: 
        print("everyone",end=" ")
        j =j+1  4
    i =i+1 2
    print()

hello everyone everyone everyone
hello everyone everyone everyone
hello everyone everyone everyone
hello everyone everyone everyone
hello everyone everyone everyone

In [16]:
i =1
j=1
while i<=5:  
    print("hello",end=" ")
    
    while j<4:
        print("everyone",end=" ")
        j =j+1  
    i =i+1  
    j=1
    print()

hello everyone everyone everyone
hello everyone everyone everyone
hello everyone everyone everyone
hello everyone everyone everyone
hello everyone everyone everyone

# iterative statements

 - Both for loops and while loops can be controlled using statements such as break ,pass and continue . The break statement is used to exit a loop prematurely, while the continue statement is used to skip the current iteration and move on to the next one.

break:

- The break statement is used to exit a loop prematurely, before the loop condition is met. When a break statement is encountered inside a loop, the loop is immediately terminated and the program continues to execute the next line of code after the loop

In [33]:
#for example :
for i in range(10,100): 
    if i == 6:
        break
    print(i)

10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

 - the for loop will iterate 10 times, printing the values 0 to 4. However, when i becomes 5, the if statement will be triggered and the break statement will be executed, causing the loop to terminate. As a result, the value 5 will not be printed to the console.

continue:

- The continue statement is used to skip the current iteration of a loop and move on to the next one. When a continue statement is encountered inside a loop, the program immediately skips to the next iteration and continues executing the loop.

In [35]:
#for example
for i in range(12):   
    
    if i % 2== 0:
        continue
    print(i)

1
3
5
7
9
11

 - the for loop will iterate 10 times, but the continue statement will cause the program to skip printing even numbers to the console.

pass:

- The pass statement is used as a placeholder in the code when there is no action required. It is often used when you need to have an empty loop or an empty if statement for the time being, but you plan to add code to it later.

In [36]:
for i in range(4):
    pass

In [37]:
for i in range(10):
    pass

    
print("shivani")

shivani

In [38]:
for i in range(10):
    
    
    


    
    
print("hello")
print("hi")

IndentationError: expected an indented block after 'for' statement on line 1 (3528916428.py, line 9)

In [39]:
for i in range(10):
    pass
    
    
print(7+8)
print("bhavya")

15
bhavya

In [41]:
for i in range(10):
    pass

In [ ]:
#
##
###
####

In [42]:
for i in range(4):
    for j in range(i+1): 
        print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [ ]:
1
12
123
1234
12345

In [ ]:
1
22
333
4444
55555