# Functions on list

In [22]:
def caculate(a,b):
    mean=a*b/a+b
    print(mean)
def isgreater(a,b):
    if a>b:
          print("g")
    else:
          print("bjf")
    

a=9
b=8
# if a>b:
#     print("g")
# else:
#     print("bjf")
isgreater(a,b)
caculate(a,b)
# gmean=a*b/a+b
# print(gmean)
c=9
d=8
# if c>d:
#     print("g")
# else:
#     print("bjf")
isgreater(a,b)
caculate(a,b)
# gmean=c*d/c+d
# print(gmean)

g
16.0
g
16.0

In [75]:
l=[10,67.8,'point',345,10]
#index
print(l.index(10))
#the index at the 0th position and ending with the 1th position. 
#print(l.index(10,1))

0

count:

In [59]:
l=[10,67.8,'python',345,10]
print(l.count(10))

2

sort:

- ascending

In [77]:
l =[10,2,6,89,56,456,345,90,23]
l.sort()
print(l)

[2, 6, 10, 23, 56, 89, 90, 345, 456]

- desending

In [81]:
l=[30,40,50,60,70]
#l.sort()
l.sort(reverse=True)
print(l)

[70, 60, 50, 40, 30]

reverse:

In [82]:
l =[10,2,6,89,56,456,345,90,23,'hello']
l.reverse()
print(l)

['hello', 23, 90, 345, 456, 56, 89, 6, 2, 10]

sum:

In [84]:
l =[10,2,6,89,56,456,345,90,23]

print(sum(l))

1077

max:

In [85]:
l = [10,2,6,89,56,456,345,90,23]

print(max(l))

456

min:

In [67]:
l = [10,2,6,89,56,456,345,90,23]

print(min(l))

2

In [90]:
numbers = [10,2,6,89,56,456,345,90,23]
max_num = numbers[0]
min_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num
    if num > min_num:
        min_num = num
print("Maximum number",max_num)
print("Minimum number",min_num)

Maximum number 456
Minimum number 456

#Q write a program to print max no from a  list using loop and min no also.
l =[10,2,6,89,56,456,345,90,23]

for i in range(len(l)):
         print(i)
    # Given list

In [91]:
numbers = [45, 12, 78, 4, 90, 23, 11, 67]

# Initialize max and min with the first element of the list
max_num = numbers[0]
min_num = numbers[0]

# Loop through the list
for num in numbers:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num

# Print the results
print("Maximum number is:", max_num)
print("Minimum number is:", min_num)

Maximum number is: 90
Minimum number is: 4